flux 2 Boutons
[
    {
        "id": "16b13520e42c46f7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30c0c0e1c9bba358",
        "type": "ui_button",
        "z": "16b13520e42c46f7",
        "name": "Activer Mode Forcer",
        "group": "parking_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activer Mode Forcer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "modbus_write_258"
            ]
        ]
    },
    {
        "id": "3e1ef7f7933b7202",
        "type": "ui_button",
        "z": "16b13520e42c46f7",
        "name": "Ouvrir Barrière",
        "group": "parking_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ouvrir Barrière",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "modbus_write_259"
            ]
        ]
    },
    {
        "id": "modbus_write_258",
        "type": "modbus-write",
        "z": "16b13520e42c46f7",
        "name": "Écriture registre 258",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "258",
        "quantity": "1",
        "server": "modbus_client_1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7c2b08f49d54256d",
        "type": "ui_button",
        "z": "16b13520e42c46f7",
        "name": "Fermer Barrière",
        "group": "parking_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fermer Barrière",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "8c9c79d579f9865e"
            ]
        ]
    },
    {
        "id": "8c9c79d579f9865e",
        "type": "modbus-write",
        "z": "16b13520e42c46f7",
        "name": "Écriture registre 259",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "259",
        "quantity": "1",
        "server": "modbus_client_1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c7faea94bd7efa24",
        "type": "ui_button",
        "z": "16b13520e42c46f7",
        "name": "Ouvrir Barrière de Sortie",
        "group": "parking_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ouvrir Barrière de Sortie ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "4ff97539ec139f50",
                "41a9dc26159a46db"
            ]
        ]
    },
    {
        "id": "modbus_write_259",
        "type": "modbus-write",
        "z": "16b13520e42c46f7",
        "name": "Écriture registre 259",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "259",
        "quantity": "1",
        "server": "modbus_client_1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4ff97539ec139f50",
        "type": "modbus-write",
        "z": "16b13520e42c46f7",
        "name": "Écriture registre 259",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "259",
        "quantity": "1",
        "server": "modbus_client_1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f52cd3e049f263ce",
        "type": "ui_button",
        "z": "16b13520e42c46f7",
        "name": "Fermer Barrière de Sortie",
        "group": "parking_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fermer Barrière de Sortie",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "8",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "2374a56baa8b9a80"
            ]
        ]
    },
    {
        "id": "2374a56baa8b9a80",
        "type": "modbus-write",
        "z": "16b13520e42c46f7",
        "name": "Écriture registre 259",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "259",
        "quantity": "1",
        "server": "modbus_client_1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e43e3232ac1ea7cf",
        "type": "link in",
        "z": "16b13520e42c46f7",
        "name": "link in 1",
        "links": [
            "8595922716ff6132"
        ],
        "x": 425,
        "y": 220,
        "wires": [
            [
                "modbus_write_259"
            ]
        ]
    },
    {
        "id": "70cc79ea4b5852b4",
        "type": "link in",
        "z": "16b13520e42c46f7",
        "name": "link in 2",
        "links": [
            "45203aadba12a522"
        ],
        "x": 425,
        "y": 300,
        "wires": [
            [
                "8c9c79d579f9865e"
            ]
        ]
    },
    {
        "id": "4fcb22ba4b3c4986",
        "type": "link in",
        "z": "16b13520e42c46f7",
        "name": "link in 3",
        "links": [
            "5f30574455f9a409"
        ],
        "x": 425,
        "y": 380,
        "wires": [
            [
                "4ff97539ec139f50"
            ]
        ]
    },
    {
        "id": "8180a397a7b8a759",
        "type": "link in",
        "z": "16b13520e42c46f7",
        "name": "link in 4",
        "links": [
            "6168a8b2d9dd66f9"
        ],
        "x": 425,
        "y": 460,
        "wires": [
            [
                "2374a56baa8b9a80"
            ]
        ]
    },
    {
        "id": "41a9dc26159a46db",
        "type": "debug",
        "z": "16b13520e42c46f7",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "parking_group",
        "type": "ui_group",
        "name": "Contrôle Parking",
        "tab": "parking_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "modbus_client_1",
        "type": "modbus-client",
        "name": "ResiPark",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "192.168.0.105",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 0,
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": false,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "parking_tab",
        "type": "ui_tab",
        "name": "Parking",
        "icon": "car",
        "order": 1
    }
]
